<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width:
  600px; font-size: 18px; line-height: 24px; }
</style>

<div class="message-content">
  <p>Hello {{name}}!</p>
  <br />
  <p>Welcome to Vida Pilates!</p>
  <p>To activate your account, please click the link below:</p>
  <p>
    <a href="{{link}}">Verify my account</a>
  </p>
  <p>If you did not sign up for an account, you can safely ignore this email.</p>
  <br />
  <p>Thank you!</p>
  <p>Vida Pilates</p>
</div>