APP_PORT=
ORIGIN_ALLOWED=

# JWT Config
JWT_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# Mail Config: ethereal or ses
MAIL_DRIVER=ethereal

# Storage Config: disk or s3
STORAGE_DRIVER=disk

# AWS Credentials
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Database Config
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=